html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.SiteWrap {
    position: relative;
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.product-img-div {
    background-image: url("../img/v915-wit-005-f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:1700px) {
    .SiteWrap {
        position: relative;
        padding-top: 0px;
        padding-right: 100px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
}

